<div class="operate" style="padding: 24px;">
        <div class="operate_headtext">
            <b>运营</b>
        </div>
        <div class="operate_con">
            <ul class="operate_con_left">
               <a routerLink="/grouppictures">
                    <li>
                        <div class="operate_con_left_div">
                            <img src='./assets/images/yunyingone.png' class="one"/>
                        </div>
                        <div class="operate_con_right_div">
                            <b>群发文字图片</b>
                            <br>
                            <span>可以给客户同时发送文字图片</span>
                        </div>
                    </li>
              </a> 
              <a routerLink="/sendlink">
                <li>
                    <div class="operate_con_left_div">
                        <img src='./assets/images/yunyingtwo.png' class="two"/>
                    </div>
                    <div class="operate_con_right_div">
                        <b>发送链接</b>
                        <br>
                        <span>可以给客户的朋友去点赞评论</span>
                    </div>
                </li>
             </a>
             <a routerLink="/sendcircle">
                <li>
                    <div class="operate_con_left_div">
                          <img src='./assets/images/nirenfive.png' class="three"/>
                    </div>
                    <div class="operate_con_right_div">
                        <b>发送朋友圈</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
            </a>
            <a routerLink="/forwardcircle">
                <li>
                    <div class="operate_con_left_div">
                           <img src='./assets/images/yunyingfour.png' class="four"/>
                    </div>
                    <div class="operate_con_right_div">
                        <b>转发朋友圈</b>
                        <br>
                         <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
            </a>
            <a routerLink="/circlegive">
                <li>
                    <div class="operate_con_left_div">
                          <img src='./assets/images/yunyingfive.png' class="five"/>
                    </div>
                    <div class="operate_con_right_div">
                        <b>朋友圈点赞</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
                <a routerLink="/pullgroup">
                <li>
                    <div class="operate_con_left_div">
                        <img src='./assets/images/yunyingsix.png' class="six"/>
                    </div>
                    <div class="operate_con_right_div">
                        <b>拉群/踢群</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
            </ul> 
            <ul class="operate_con_right">
                    <a routerLink="/follownumber">
                <li>
                    <div class="operate_con_left_div">
                        <img src='./assets/images/yunyingqi.png' class="qi"/>
                    </div>
                    <div class="operate_con_right_div">
                        <b>关注公众号</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
                <a routerLink="/scavenging">
                <li>
                    <div class="operate_con_left_div">
                        <img src='./assets/images/yunyingba.png' class="ba"/> 
                    </div>
                    <div class="operate_con_right_div">
                        <b>扫码进群</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
            </ul>
        </div>
    </div>
    