.label_management_title_1 {
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  color: rgba(43, 43, 43, 1);
}

.label_management_title {
  font-size: 16px;
  font-family: PingFangSC-Regular;
  color: #636363;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(220, 220, 220, 1);
}

.label_management_all_search {
  text-align: right;
  position: relative;
  margin-top: 23px;
  width: 100%;
}

.label_management_all_search_input {
  width: 242px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(220, 220, 220, 1);
  outline: none;
  text-indent: 15px;
  margin-right: 25px;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.label_management_all_search_input::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 14px;
  /*font-family:PingFangSC-Light;*/
  color: rgba(205, 205, 205, 1);
  font-weight: normal;
}

.label_management_all_search_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  /*font-family:PingFangSC-Light;*/
  color: rgba(205, 205, 205, 1);
  font-weight: normal;
}

.label_management_all_search_input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  /*font-family:PingFangSC-Light;*/
  color: rgba(205, 205, 205, 1);
  font-weight: normal;
}

.label_management_all_search_input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
  /*font-family:PingFangSC-Light;*/
  font-weight: normal;
  color: rgba(205, 205, 205, 1);
}

.label_management_all_search_search {
  margin-right: 50px;
  width: 50px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(220, 220, 220, 1);
  font-size: 14px;
  font-family: PingFangSC-Light;
  color: rgba(43, 43, 43, 1);
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
}

.label_management_all_search_batch_deletion {
  width: 110px;
  height: 28px;
  background: rgba(244, 244, 244, 1);
  border-radius: 2px;
  border: 1px solid rgba(220, 220, 220, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  outline: none;
  margin-right: 55px;
}

.label_management_body {
  width: 100%;
}

::ng-deep.ant-table-bordered .ant-table-tbody > tr > td {
  text-align: center;
  padding: 5px 10px;
}

::ng-deep.table_div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  /*background-color: red;*/
}

.table_edit {
  padding: 0;
}

::ng-deep.table_div_titlr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

::ng-deep.table_div_titlr div {
  height: 30px;
  width: 12.5%;
  text-align: center;
}

::ng-deep.border_right_none {
  border-right: 0px !important;
}

.label_management_tag {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../assets/images/customer_shape.png") center center no-repeat;
  cursor: pointer;
  position: relative;
  top: 10px;
}

/*.label_management_operating_bg_ul {*/
/*width: 100%;*/
/*display: flex;*/
/*justify-content: space-around;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*.label_management_operating_bg_ul:nth-of-type(2) {*/
/*margin-top: 15px;*/
/*}*/

/*.label_management_operating_bg_ul li {*/
/*list-style: none;*/
/*cursor: pointer;*/
/*}*/

.friend_table .label_management_operating_ed {
  width: 100%;
  padding: 0px 20px;
  height: 52px;
  display: flex;
  justify-content: space-around;
}

.label_management_operating_bg_ul li {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: relative;
  padding: 10px 5px 5px 5px;
  top: 5px;
  list-style: none;
}

.label_management_operating_bg1 {
  background: url("../../assets/images/delete_blue.png" ) no-repeat center center;
  background-size: 18px 18px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 27px 5px;
}

.label_management_operating_bg2 {
  background: url("../../assets/images/customer_shape_blue.png") center center no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 27px 5px;
}

.label_management_operating_bg3 {
  background: url("../../assets/images/detail_blue.png") no-repeat center center;
  background-size: 18px 18px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 27px 5px;
}

.label_management_operating_bg4 {
  background: url("../../assets/images/edit_blue.png")no-repeat center center ;
  background-size: 18px 18px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 27px 5px;
}
.table_div_tag {
  height: 30px;
  text-align: left;
  overflow: hidden;

}

.table_div_tag span {
  display: inline-block;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 0px 5px 2px 5px;
  margin-left: 30px;
  max-width: 300px;
  border: 1px solid rgba(220, 220, 220, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


::ng-deep.table_div_titlr div {
  height: 30px;
  width: 14.28%;
  text-align: center;
}

::ng-deep.table_div_titlr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

::ng-deep.ant-table-bordered .ant-table-thead > tr > th {
  text-align: center;
}

::ng-deep.ant-table-body {
  margin-top: 23px;
}

.friends_circle_detal, .modify_circle, .add_circle {
  width: 624px;
  height: 404px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -230px;
  margin-left: -312px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 2;
}

.tagging_choose, .friends_circle_choose {
  float: right;
  padding: 10px 20px 20px 20px;
}

.friends_circle_choose_cancel {
  width: 65px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 1);
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}

.friends_circle_choose_sure {
  width: 65px;
  height: 32px;
  background: rgba(16, 142, 233, 1);
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.friends_circle_detal-title {
  height: 12%;
  font-size: 16px;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 1);
  padding: 14px 20px;
}

.tagging_close, .friends_circle_close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: rgba(153, 153, 153, 1);
  position: relative;
  top: -3px;
  right: 10px;
}

.friends_circle_detal-con {
  display: flex;
  height: 76%;
  padding: 0px 40px;
  width: 100%;
  border-top: 1px solid rgba(233, 233, 233, 1);
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.friends_circle_detal-con1 {
  margin: 0px 20px;
  width: 100%;
  height: 100%;
}

.friends_circle_detal_left {
  width: 20%;
  height: 100%;
  text-align: right;
  font-size: 15px;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 1);
}

.friends_circle_detal_friendImg {
  height: 60px;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.img_six {
  width: 100%;
  display: flex;
  height: 60px;
  padding: 0;
  margin: 0;
}

.img_six li {
  width: 55px;
  list-style: none;
  margin-left: 10px;
}

.img_six li:nth-of-type(1) {
  margin-left: 0;
}

.friends_circle_detal_right {
  width: 80%;
  margin-left: 20px;
}

.friends_circle_detal_text {
  width: 100%;
  height: 60px;
  overflow: auto;
  word-break: break-all;
  border: 1px solid rgba(220, 220, 220, 1);
  text-indent: 5px;
  border-radius: 3px;
}

.friends_circle_detal_say {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.friends_circle_detal_text::-webkit-scrollbar-track {
  border-radius: 2px;
  background: white;
}

.friends_circle_detal_text::-webkit-scrollbar {
  width: 2px;
  background: white;
}

.friends_circle_detal_text::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #C1C1C0;
}

.cds {
  display: inline-block;
  margin-left: 90px;
}

.cds-1 {
  display: inline-block;
  margin-left: 20px;
}

.cds-2 {
  display: inline-block;
  font-size: 15px;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 1);
}

:host ::ng-deep .clearfix .ant-upload-list-picture-card .ant-upload-list-item {
  width: 55px;
  height: 55px;
}

.material_management_avatar {
  width: 40px;
  height: 40px;
}

:host ::ng-deep .clearfix .ant-upload.ant-upload-select-picture-card {
  width: 60px;
  height: 55px;
}

:host ::ng-deep.ant-upload-list-item-uploading-text {
  opacity: 0;
}

.add_friends_circle_detal_text {
  border: 1px solid rgba(220, 220, 220, 1);
  resize: none;
  outline: none;
  text-indent: 5px;
  border-radius: 3px;
}

:host ::ng-deep .friends_circle_detal_right .ant-select-selection--multiple {
  height: 32px;
  overflow: hidden;
}

:host ::ng-deep .friend_table .con_table {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  height: 45px;
  text-overflow: ellipsis;
}
::ng-deep.ant-table-bordered .ant-table-tbody > tr > td {
  text-align: center;
  padding: 5px 10px;
}
.tagging_public {
  width: 854px;
  height: 500px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -347px;
  margin-top: -245px;
  z-index: 2;
}
.searchTag {
  width: 100%;
  margin-top: -15px;
}
.tagging_public_con_button {
  cursor: pointer;
  position: absolute;
  right: 7%;
  width: 116px;
  height: 33px;
  background: rgba(0, 125, 206, 1);
  border-radius: 2px;
  font-size: 15px;
  font-family: PingFangSC-Medium;
  color: rgba(255, 255, 255, 1);
  outline: none;
  border: none;
}.newTag {
   margin-top: 15px;
   width: 100%;
 }
.tagging_public_choose{
  float: right;
  padding: 15px 20px 20px 20px;
}.tagging_public_close{
   float: right;
   font-size: 20px;
   cursor: pointer;
   color: rgba(153, 153, 153, 1);
   position: relative;
   top: -3px;
   right: 10px;
 }.tagging_public_choose_cancel {
    width: 65px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: rgba(102, 102, 102, 1);
    margin-right: 10px;
    outline: none;
    cursor: pointer;
  }
:host::ng-deep.ant-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  width: 90px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 6px;
}
.tagging_public_choose_sure {
  width: 65px;
  height: 32px;
  background: rgba(16, 142, 233, 1);
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.tagging_public_con {
  height: 76%;
  padding: 30px 70px;
  width: 100%;
  border-top: 1px solid rgba(233, 233, 233, 1);
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}
.newTag_title {
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 1);
}

.newTag_con {
  padding: 15px;
  max-height: 65px;
  overflow: auto;
}

.newTag_con::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #C1C1C0;
}
.newTag_con::-webkit-scrollbar {
  width: 2px;
  background: white;
}
.newTag_con::-webkit-scrollbar-track {
  border-radius: 2px;
  background: white;
}
.tagLibrary {
  width: 100%;
  height: 107px;
  border-radius: 2px;
  border: 1px solid rgba(220, 220, 220, 1);
  margin-top: 10px;
}

.tagLibrary_box {
  padding: 7px;

}
::ng-deep.ant-tag-blue {
  border-radius: 2px;
  border: 1px solid rgba(0, 125, 206, 1);
  font-family: PingFangSC-Light;
  color: rgba(0, 125, 206, 1);
  background-color: #ffffff;
}
.Mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000026;
  filter: Alpha(Opacity=60);
  opacity: 0.6;
  z-index: 1;
}
.tagging_public_title {
  height: 12%;
  font-size: 16px;
  font-family: PingFangSC-Regular;
  color: rgba(102, 102, 102, 1);
  padding: 20px;
}
.tagging_public_con {
  height: 76%;
  padding: 30px 70px;
  width: 100%;
  border-top: 1px solid rgba(233, 233, 233, 1);
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}
.newTag_public_con {
  padding: 15px;
  max-height: 65px;
  overflow: auto;
}

.newTag_public_con::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #C1C1C0;
}

.newTag_public_con::-webkit-scrollbar {
  width: 2px;
  background: white;
}

.newTag_public_con::-webkit-scrollbar-track {
  border-radius: 2px;
  background: white;
}
.newTag_public {
  margin-top: 15px;
  width: 100%;
}
.det_img{
  width: 50px;
  height: 50px;
  border-radius: 3px;
}
.table_tr_bgColor_gray {
  background:rgba(255,255,255,1)
}

.table_tr_bgColor_white {
  background:rgba(248,248,248,1)
}

:host::ng-deep.ant-table-thead > tr > th {
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
}
