 .upgradeplug_text{
    height: 28px;
    line-height: 16px;
    border-bottom:2px solid rgba(220,220,220,1);
}
 .upgradeplug_text b{
 	font-size:16px;
 }
.upgradeplug_con{
   padding-left:35px;
    padding-top:15px;
    /* background:pink; */
}
.upgradeplug_con ul>li{
     display:flex;
     margin-top:25px;
}
.upgradeplug_con ul li div{
    margin-left:120px;
}
.upgradeplug_con ul li input[type="text"]{
    width:380px;
    height:28px;
    border-radius:2px;
    border:1px solid rgba(220,220,220,1);
}

.upgradeplug_con ul li .choosebutton{
    width:80px;
    height:28px;
    background:rgba(244,244,244,1);
    border-radius:2px;
    border:1px solid rgba(220,220,220);
    margin-left:10px;
}
.upgradeplug .buttongroup{
    margin-top: 30px;
    margin-left:486px;
}
.upgradeplug .buttongroup button{
      width:68px;
    height:30px;
    font-size:12px;
    color:rgba(255,255,255,1);
    line-height:18px;
    border-radius: 5px;
    border:none;
}
.upgradeplug .buttongroup .onebut{
     color:black;
     background: #fff;
     border:1px solid #ccc;
}

.upgradeplug .buttongroup .twobut{
    margin-left:20px;
    background: rgba(0,125,206,1);
}

.tab:hover{
    color: rgba(16,142,233,1);
}
  .li-active{
    border:1px solid rgba(16,142,233,1);
    color: rgba(16,142,233,1);
  }
 .upgradeplug .oltab{
    display: flex;
}
.upgradeplug .oltab>.tab{
    width:75px;
    height:28px;
    background:rgba(255,255,255,1);
    border-radius:2px 0px 0px 2px;
    line-height: 28px;
    text-align:center;
    margin-left:5px;
    margin-top:0;
    list-style: none;
  }
  .upgradeplug .oltab .tabonenomar{
      margin-left:0;
  }
  .upgradeplug .tab-content{
       width:380px;
       height:60px;
       border:1px solid #ccc;
       margin-top:30px;
       margin-left:0 !important;
  }
  .upgradeplug_con .ant-checkbox-wrapper{
  	margin-top: 10px;
 }
  .upgradeplug_con .choosespan{
   	  position: relative;
   	  top: 5px;
   	  color:rgba(0,125,206,1);
   	  font-size: 12px;
  }
.upgradeplug_social{
	width:853px;
    height: 512px;
    background: rgba(255,255,255,1);
    position: absolute;
    left: 50%;
    top:50%;
    margin-left:-426px;
    margin-top:-256px;
    box-shadow:2px 2px 8px #d2d6de;
    z-index: 1;
    
}
.upgradeplug_social .upgradeplug_social_head{
	height: 50px;
	border-bottom:2px solid rgba(233,233,233,1);
	padding: 6px 6px 0px 15px;
	color:rgba(102,102,102,1);
	display: flex;
	justify-content: space-between;
	line-height: 33px;
	font-size: 16px;
}
.upgradeplug_social .upgradeplug_social_head .spanclose{
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	
}

.upgradeplug_social .upgradeplug_social_center{
	height: 412px;
	border-bottom:2px solid rgba(233,233,233,1);
}
.upgradeplug_social .upgradeplug_social_foot{
	height: 50px;
	padding: 9px 30px;
}
.upgradeplug_social .upgradeplug_social_center .tankuang_headdiv{
   padding: 10px 20px 0px;
}
.upgradeplug_social .upgradeplug_social_center .tankuang_headdiv .tankuang_ul{
	display: flex;
	line-height: 30px;
}
.upgradeplug_social .upgradeplug_social_center .tankuang_headdiv .tankuang_ul li{
	margin-left: 20px;
}
.upgradeplug_social .upgradeplug_social_center .tankuang_headdiv .tankuang_ul li input{
	width:270px;
	height:30px;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(220,220,220,1);
	padding-left: 15px;
}
.upgradeplug_social .upgradeplug_social_center .tankuang_headdiv .tankuang_ul li button{
	width:80px;
	height:28px;
	background:rgba(244,244,244,1);
    border-radius:2px;
    border: none;
}
.upgradeplug_social .upgradeplug_social_center .tankuang_cendiv{
	display: flex;
}
.upgradeplug_social .upgradeplug_social_foot .quxiao{
	width:65px;
	height:32px;
	background:rgba(255,255,255,1);
	border-radius:4px;
	border:1px solid rgba(217,217,217,1);
	margin-right:10px;
}
.upgradeplug_social .upgradeplug_social_foot .sure{
	width:65px;
	height:32px;
	background:rgba(16,142,233,1);
	border-radius:4px;
	border: none;
}
/*社交号弹框里的样式*/
.taglist{
    width: 312px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:left;
    position: relative;
    top: 6px;
}
 .taglist span{
    	display:inline-block;
    	width: 50px;
    	height:22px;
    	line-height:22px;
    	text-align: center;
    	background:white;
    	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left:15px;
		border: 1px solid #ccc;
 }
 .taglist span:nth-of-type(1){
 	margin-left: 0;
 }
  .idphonediv{
	 	display: flex;
	 	justify-content: space-around;
	 	position: relative;
	 	top: -1px;
  }
   :host ::ng-deep .tankuang_cendiv .ant-table-tbody > tr > td{
		padding:6px 10px;
		text-align: center;
   }
	:host ::ng-deep .tankuang_cendiv .ant-table-thead > tr > th{
	    padding:5px 5px;
	    text-align: center;
	    background: white;
	}
.wechat_leftdiv{
	width: 370px;
	border:1px solid #ccc;
	position: relative;
	left:35px;
	height: 345px;
}
	
.wechat_botdiv{
	width: 370px;
	border:1px solid #ccc;
	position: relative;
	left: 78px;
	height: 345px;
	overflow: auto;
}
#righttable thead{
	border-bottom:1px solid #ccc;
}
#righttable thead tr{
	width: 368px;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}
#righttable thead th{
	height: 30px;
	border: none;
	font-weight: 600;
}
#righttable tbody tr{
	width:366px;
	display: block;
	height: 64px;
	border-bottom:1px solid #ccc;
}
#righttable tbody{
    width: 368px;
    height: 310px;
    display: block;
    overflow: auto;
}
#righttable tbody div{
     width: 340px;
}

#righttable tbody::-webkit-scrollbar{
    width:2px;
}
#righttable tbody::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}
/*滑块样式*/
#righttable tbody::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:#2ABF9E;
}