 .sendcircle_text{
    height: 28px;
    line-height: 16px;
    border-bottom:2px solid rgba(220,220,220,1);
}
 .sendcircle_text b{
 	font-size:16px;
 }
.sendcircle_con{
   padding-left:35px;
    padding-top:15px;
    /* background:pink; */
}
.sendcircle_con ul>li{
     display:flex;
     margin-top:25px;
}
.sendcircle_con ul li>div{
    margin-left:120px;
}
.sendcircle_con ul li input[type="text"]{
    width:380px;
    height:28px;
    border-radius:2px;
    border:1px solid rgba(220,220,220,1);
}

.sendcircle_con ul li .choosebutton{
    width:80px;
    height:28px;
    background:rgba(244,244,244,1);
    border-radius:2px;
    border:1px solid rgba(220,220,220);
    margin-left:10px;
}
.sendcircle .buttongroup{
    
    margin-left:485px;
}
.sendcircle .buttongroup button{
      width:68px;
    height:30px;
    font-size:12px;
    color:rgba(255,255,255,1);
    line-height:18px;
    border-radius: 5px;
    border:none;
}
.sendcircle .buttongroup .onebut{
     color:black;
     background: #fff;
     border:1px solid #ccc;
}

.sendcircle .buttongroup .twobut{
    margin-left:20px;
    background: rgba(0,125,206,1);
}

.tab:hover{
    color: rgba(16,142,233,1);
}
  .li-active{
    border:1px solid rgba(16,142,233,1);
    color: rgba(16,142,233,1);
  }
 .sendcircle .oltab{
 	width:157px;
 	height: 30px;
    display: flex;
    border:1px solid rgba(217,217,217,1);
}
.sendcircle .oltab>.tab{
    width:75px;
    height:28px;
    background:rgba(255,255,255,1);
    border-radius:2px 0px 0px 2px;
    line-height: 28px;
    text-align:center;
    margin-left:5px;
    margin-top:0;
    list-style: none;
  }
  .sendcircle .oltab .tabonenomar{
      margin-left:0;
  }
  .sendcircle .tab-content>div{
       
       /*margin-left:0 !important;*/
  }
  .sendcircle  .oltab_choose{
    width:80px;
    height:28px;
    margin-left:145px;
    background:rgba(244,244,244,1);
    border-radius:2px;
    border:1px solid rgba(220,220,220);
  }
  .sendcircle_con .ant-checkbox-wrapper{
  	margin-top: 10px;
 }
  .sendcircle_con .choosespan{
   	  position: relative;
   	  top: 5px;
   	  color:rgba(0,125,206,1);
   	  font-size: 12px;
  }
.sendcircle_social{
	width:853px;
    height: 512px;
    background: rgba(255,255,255,1);
    position: absolute;
    left: 50%;
    top:50%;
    margin-left:-426px;
    margin-top:-256px;
    box-shadow:2px 2px 8px #d2d6de;
    z-index: 1;
    
}
.sendcircle_social .sendcircle_social_head{
	height: 50px;
	border-bottom:2px solid rgba(233,233,233,1);
	padding: 6px 6px 0px 15px;
	color:rgba(102,102,102,1);
	display: flex;
	justify-content: space-between;
	line-height: 33px;
	font-size: 16px;
}
.sendcircle_social .sendcircle_social_head .spanclose{
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	
}

.sendcircle_social .sendcircle_social_center{
	height:412px;
	border-bottom:2px solid rgba(233,233,233,1);
}
.sendcircle_social .sendcircle_social_foot{
	height: 50px;
	padding: 9px 30px;
}
.sendcircle_social .sendcircle_social_center .tankuang_headdiv{
   padding: 10px 20px 0px;
}
.sendcircle_social .sendcircle_social_center .tankuang_headdiv .tankuang_ul{
	display: flex;
	line-height: 30px;
}
.sendcircle_social .sendcircle_social_center .tankuang_headdiv .tankuang_ul li{
	margin-left: 20px;
}
.sendcircle_social .sendcircle_social_center .tankuang_headdiv .tankuang_ul li input{
	width:270px;
	height:30px;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(220,220,220,1);
	padding-left: 15px;
}
.sendcircle_social .sendcircle_social_center .tankuang_headdiv .tankuang_ul li button{
	width:80px;
	height:28px;
	background:rgba(244,244,244,1);
    border-radius:2px;
    border: none;
}
.sendcircle_social .sendcircle_social_center .tankuang_cendiv{
	display: flex;
}
.sendcircle_social .sendcircle_social_foot .quxiao{
	width:65px;
	height:32px;
	background:rgba(255,255,255,1);
	border-radius:4px;
	border:1px solid rgba(217,217,217,1);
	margin-right:10px;
}
.sendcircle_social .sendcircle_social_foot .sure{
	width:65px;
	height:32px;
	background:rgba(16,142,233,1);
	border-radius:4px;
	border: none;
}
/*勾选朋友圈*/
.sendlink_social{
    width:918px;
    height:500px;
    background: rgba(255,255,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -459px;
    margin-top: -250px;
    box-shadow:2px 2px 8px #d2d6de;
    z-index: 1;
    
}
.sendlink_social .sendlink_social_head{
	height: 50px;
	border-bottom:2px solid rgba(233,233,233,1);
	padding: 6px 6px 0px 15px;
	color:rgba(102,102,102,1);
	display: flex;
	justify-content: space-between;
	line-height: 33px;
}
.sendlink_social .sendlink_social_head .spanclose{
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	
}

.sendlink_social .sendlink_social_center{
	height: 400px;
	border-bottom:2px solid rgba(233,233,233,1);
}
.sendlink_social .sendlink_social_foot{
	height: 50px;
	padding: 9px 30px;
}
.sendlink_social .sendlink_social_center .tankuang_headdiv{
   padding: 10px 20px 0px;
}
.sendlink_social .sendlink_social_center .tankuang_headdiv .tankuang_ul{
	display: flex;
	line-height: 30px;
}
.sendlink_social .sendlink_social_center .tankuang_headdiv .tankuang_ul li{
	margin-left: 20px;
}
.sendlink_social .sendlink_social_center .tankuang_headdiv .tankuang_ul li input{
	width:270px;
	height:30px;
	background:rgba(255,255,255,1);
	border-radius:2px;
	border:1px solid rgba(220,220,220,1);
	padding-left: 15px;
}
.sendlink_social .sendlink_social_center .tankuang_headdiv .tankuang_ul li button{
	width:80px;
	height:28px;
	background:rgba(244,244,244,1);
    border-radius:2px;
    border: none;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv{
	display: flex;
}
/*图文*/
.sendlink_social .sendlink_social_center .tankuang_cendiv .onetable{
	width:396px;
	height:330px;
	position: relative;
	left: 30px;
	border: 1px solid #ccc;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .onetable .idphonediv span{
	width: 100px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable{
	width: 396px;
	border:1px solid #ccc;
	position: relative;
	left:82px;
	height: 330px;
	overflow: auto;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable thead{
	border-bottom:1px solid #ccc;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable thead tr{
	width: 394px;
    display: flex;
    justify-content: space-around;
    line-height: 36px;
    background: #fafafa;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable thead th{
	width: 100px;
	text-align: center;
	height: 36px;
	border: none;
	font-weight: 500;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable tbody tr{
	width:392px;
	display: block;
	height: 58px;
	border-bottom:1px solid #ccc;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable tbody{
    width: 394px;
    height: 290px;
    display: block;
    overflow: auto;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable tbody div{
     width: 360px;
}

.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable tbody::-webkit-scrollbar{
    width:2px;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable tbody::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}
/*滑块样式*/
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable #rightwctable tbody::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:#2ABF9E;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable .idphonediv{
	display: flex;
	justify-content: space-around;
}
.sendlink_social .sendlink_social_center .tankuang_cendiv .twotable .idphonediv span{
	width: 100px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
:host ::ng-deep .sendlink_social .sendlink_social_center .tankuang_cendiv .onetable .ant-table-tbody > tr > td{
		padding:3px 10px;
		text-align: center;
}
:host ::ng-deep .sendlink_social .sendlink_social_center .tankuang_cendiv .onetable .ant-table-thead > tr > th{
	    padding:8px 5px;
	    text-align: center;
}











.sendlink_social .sendlink_social_foot .quxiao{
	width:65px;
	height:32px;
	background:rgba(255,255,255,1);
	border-radius:4px;
	border:1px solid rgba(217,217,217,1);
	margin-right:10px;
}
.sendlink_social .sendlink_social_foot .sure{
	width:65px;
	height:32px;
	background:rgba(16,142,233,1);
	border-radius:4px;
	border: none;
}

.sendcircle .tab-content .tab-content-msg{
	 height: 90px;
	 width:380px;
     border:1px solid #ccc;
     margin-top:30px;
}
.tab-content-msg_head{
  	height:25px;
  	background:rgb(247,247,247);
}
.tab-content-msg_cen{
  	height: 65px;
  	width: 380px;
  	overflow: auto;
}
.tab-content-msg_cen::-webkit-scrollbar{
	width:4px;
}
			
.tab-content-msg_cen::-webkit-scrollbar-track {
	background: white;
	border: 1px solid #FFC0CB;
	border-radius:2px;
}
       
.tab-content-msg_cen::-webkit-scrollbar-thumb {
	background:#2ABF9E;
	border-radius:2px;
}
   .tab-content-msg_cen div{
   	 height: 65px;
   	 outline: none;
   	 width: 376px;
   }
 .tab-content-msg_head button{
 	position: relative;
 	z-index: 16;
 	opacity: 0.2;
 	width:25px;
 	height:25px;
 }
 .tab-content-msg_head .xiao{
 	margin-left: -24px;
    margin-top: -14px;
 }
 
 .sendcircle .tab-content .goucircle{
 	 height:60px;
	 width:380px;
     border:1px solid #ccc;
     margin-top:30px;
 }
/*xinjia*/
.sendcircle_con .quejia{
	position: relative;
    top: -25px;
}
.sendcircle_con .quejia>div div{
	margin-top:15px;
}

.sendcircle_con .quejia .timesele{
	margin-left: 38px;
}
.sendcircle_con .quejia input{
	width:279px !important;
	height:30px;
	margin-left:51px;
	border-radius:2px;
    border:1px solid rgba(220,220,220,1);
}
.sendcircle_con .quejia .zhushi{
	width:279px;
	height: 80px;
	margin-left:68px;
	border-radius:2px;
    border:1px solid rgba(220,220,220,1);
    outline: none;
}
.sendcircle_con .quejia .option{
	margin-left: 23px;
	width: 188px;
}

.dingshi{
	width:410px;
	margin-top: 20px;
}
.dingshi .dingshi_div{
	margin-top:10px;
}
.dingshi .dingshi_div .close{
    width: 15px;
    height: 15px;
    color: white;
    background: red;
    display: inline-block;
    border-radius: 50%;
    line-height: 13px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}
.dingshi .dingshi_add{
	width:70px;
	height: 22px;
	border:1px dashed rgba(0,125,206,1);
	text-align: center;
	color:rgba(0,125,206,1);
	margin-top:20px;
	cursor: pointer;
}

.zhouqi{
	width:423px;
	margin-top: 20px;
	display: none;
}
.zhouqi .zhouqi_div{
	margin-top:10px;
}
.zhouqi .zhouqi_div .close{
	 width: 15px;
    height: 15px;
    color: white;
    background: red;
    display: inline-block;
    border-radius: 50%;
    line-height: 13px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
     margin-left: 20px;
}
.zhouqi .zhouqi_add{
	width:70px;
	height: 22px;
	border:1px dashed rgba(0,125,206,1);
	text-align: center;
	color:rgba(0,125,206,1);
	margin-top:20px;
    cursor: pointer;
}
:host ::ng-deep .ant-time-picker{
	margin-left: 20px;
}

/*社交号弹框里的样式*/
.taglist{
    width: 312px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:left;
    position: relative;
    top: 6px;
}
 .taglist span{
    	display:inline-block;
    	width: 50px;
    	height:22px;
    	line-height:22px;
    	text-align: center;
    	background:white;
    	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left:15px;
		border: 1px solid #ccc;
 }
 .taglist span:nth-of-type(1){
 	margin-left: 0;
 }
  .idphonediv{
	 	display: flex;
	 	justify-content: space-around;
	 	position: relative;
	 	top: -1px;
  }
   :host ::ng-deep .tankuang_cendiv .ant-table-tbody > tr > td{
		padding:6px 10px;
		text-align: center;
   }
	:host ::ng-deep .tankuang_cendiv .ant-table-thead > tr > th{
	    padding:5px 5px;
	    text-align: center;
	    background: white;
	}
.wechat_leftdiv{
	width: 370px;
	border:1px solid #ccc;
	position: relative;
	left:35px;
	height: 345px;
}
	
.wechat_botdiv{
	width: 370px;
	border:1px solid #ccc;
	position: relative;
	left: 78px;
	height: 345px;
	overflow: auto;
}
#righttable thead{
	border-bottom:1px solid #ccc;
}
#righttable thead tr{
	width: 368px;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}
#righttable thead th{
	height: 30px;
	border: none;
	font-weight: 600;
}
#righttable tbody tr{
	width:366px;
	display: block;
	height: 64px;
	border-bottom:1px solid #ccc;
}
#righttable tbody{
    width: 368px;
    height: 310px;
    display: block;
    overflow: auto;
}
#righttable tbody div{
     width: 340px;
}

#righttable tbody::-webkit-scrollbar{
    width:2px;
}
#righttable tbody::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}
/*滑块样式*/
#righttable tbody::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:#2ABF9E;
}