<div class="maintain" style="padding: 24px;">
        <div class="maintain_headtext">
            <b>维护</b>
        </div>
        <div class="maintain_con">
            <ul class="maintain_con_left">
                <a routerLink="/clearpowder">
                        <li>
                            <div class="maintain_con_left_div">
                                <img src="./assets/images/weihuone.png" class="one">
                            </div>
                            <div class="maintain_con_right_div">
                                <b>清理僵尸粉</b>
                                <br>
                                <span>可以给客户同时发送文字图片</span>
                            </div>
                        </li>
                </a> 
                <a routerLink="/upgradeplug">
                    <li>
                        <div class="maintain_con_left_div">
                              <img src="./assets/images/weihutwo.png" class="two">
                        </div>
                        <div class="maintain_con_right_div">
                            <b>升级插件</b>
                            <br>
                            <span>可以给客户的朋友去点赞评论</span>
                        </div>
                    </li>
                </a>
                <a routerLink="/installapk">
                    <li>
                        <div class="maintain_con_left_div">
                              <img src="./assets/images/weihuthree.png" class="three">
                        </div>
                        <div class="maintain_con_right_div">
                            <b>安装APK</b>
                            <br>
                            <span>可以给客户同时发送文字图片</span>
                        </div>
                    </li>
                </a>
            </ul> 
        </div>
    </div>
    