<div class="toker">
        <div class="toker_headtext">
            <b>拓客</b>
        </div>
        <div class="toker_con">
            <ul class="toker_con_left">
               <a routerLink="/accurateadd">
                    <li>
                        <div class="toker_con_left_div">
                             <img src="./assets/images/tuokeone.png" class="one">
                        </div>
                        <div class="toker_con_right_div">
                            <b>精准加人</b>
                            <br>
                            <span>可以给客户同时发送文字图片</span>
                        </div>
                    </li>
              </a> 
              <a routerLink="/maillist">
                <li>
                    <div class="toker_con_left_div">
                         <img src="./assets/images/tuoketwo.png" class="two">
                    </div>
                    <div class="toker_con_right_div">
                        <b>导入通讯录</b>
                        <br>
                        <span>可以给客户的朋友去点赞评论</span>
                    </div>
                </li>
             </a>
             <a routerLink="/enterthegroup">
                <li>
                    <div class="toker_con_left_div">
                       <img src="./assets/images/tuokethree.png" class="three">
                    </div>
                    <div class="toker_con_right_div">
                        <b>入群加人</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
            </a>
            <a routerLink="/positioncrossing">
                <li>
                    <div class="toker_con_left_div">
                         <img src="./assets/images/tuokefour.png" class="four">
                    </div>
                    <div class="toker_con_right_div">
                        <b>位置穿越</b>
                        <br>
                         <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
            </a>
            <a routerLink="/remotedata">
                <li>
                    <div class="toker_con_left_div">
                          <img src="./assets/images/tuokefive.png" class="five">      
                    </div>
                    <div class="toker_con_right_div">
                        <b>远程数据加人</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
                <a routerLink="/phoneadd">
                <li>
                    <div class="toker_con_left_div">
                          <img src="./assets/images/tuokesix.png" class="six">
                    </div>
                    <div class="toker_con_right_div">
                        <b>通讯录加人</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
            </ul> 
            <ul class="toker_con_right">
                    <a routerLink="/peoplenearby">
                <li>
                    <div class="toker_con_left_div">
                          <img src="./assets/images/tuokeqi.png" class="qi">
                    </div>
                    <div class="toker_con_right_div">
                        <b>附近的人加人</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
                <a routerLink="/acceptfriend">
                <li>
                    <div class="toker_con_left_div">
                            <img src="./assets/images/tuokeba.png" class="ba">
                    </div>
                    <div class="toker_con_right_div">
                        <b>接受好友请求</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
            </ul>
        </div>
    </div>
    