<div class="pullgroup" style="padding: 24px;">
  <div class="pullgroup_text">
      <span><b>运营</b>&nbsp;&nbsp;>拉群踢群</span>
  </div>
  <div class="pullgroup_con">
      <ul>
          <li>
              <span>任务名称</span>
              <div>
                <input type="text" [(ngModel)]="taskmodel">
              </div>
          </li>
          <li>
              <span>社交号&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <div>
                <input type="text" [(ngModel)]="shejiao">
                <button class="choosebutton" (click)="showgroupshe()">选择</button>
              </div>
             
          </li>
          <li>
              <span>优先级&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <div>
                  <nz-radio-group [(ngModel)]="radioValue">
                      <label nz-radio nzValue="A">普通</label>
                      <label nz-radio nzValue="B">紧急</label>
                  </nz-radio-group>
              </div>
          </li>
          <li>
              <span>执行时间</span>
              <div>
                  <nz-week-picker nzFormat="yyyy-MM-dd" [(ngModel)]="date" (ngModelChange)="getWeek($event)" nzPlaceHolder="Select week"></nz-week-picker>
                  <nz-time-picker [(ngModel)]="time" (ngModelChange)="log($event)" style="margin-left:25px;width: 178px;"></nz-time-picker>
              </div>
          </li>
          <li>
             <span>目标朋友圈</span>
             <div style="margin-left: 106px;">
                 <div style="display: flex;">
	                 	 <ol class="oltab">
	                     <li class="tab tabonenomar" [ngClass] = "item==0 ? 'li-active' : ''" (click)="OnItemClick(0)">拉群</li>
	                     <li class="tab" [ngClass] = "item==1 ? 'li-active' : ''" (click)="OnItemClick(1)">踢群</li>
	                     <li class="tab" [ngClass] = "item==2 ? 'li-active' : ''" (click)="OnItemClick(2)">退群</li>
	                   </ol>
		                 <div>
		                 	  <button class="oltab_choose tibutton" [style.display] = "item == 1 ? 'block' : 'none'" (click)="showisout()" style="margin-left:-22px;">
		                     	       选择踢人
		                     </button>
		                     <button class="oltab_choose" [style.display] = "item == 2 ? 'block' : 'none'" (click)="showlatuigroup()">
		                     	     退群
		                     </button>
		                     <button class="oltab_choose"[style.display] = "item == 0 ? 'block' : 'none'" (click)="showlaqun()">
		                     	     拉群
		                     </button>
		                 </div>
                 </div>
                
                
                 <div class="tab-content">
                 	
                 	  <!--拉群-->
	                 	<div [style.display] = "item == 0 ? 'block' : 'none'">
	                 		 <div class="laqun"></div>
	                 		 <span class="choosespan">已选0个客户</span>
	                 		 <br/>
	                 		 <label nz-checkbox [(ngModel)]="checked1" (ngModelChange)="isonechat(checked1)">拉一个群</label>
	                 	</div>
                     <!--踢群-->
                    <div [style.display] = "item == 1 ? 'block' : 'none'">
                    	 <div class="tiqun"></div>
                    	 <span class="choosespan">已选0个客户1</span>
                    </div>
                    <!--退群-->
                    <div [style.display] = "item == 2 ? 'block' : 'none'">
                    	  <div class="tuiqun"></div>
                    	  <span class="choosespan">已选0个客户</span>
                    </div>
                    
                 </div> 
                 
                 
                 
             </div>
            
          </li>
          <li class="flexwrap">
             <span>高级选项</span>
              <div>
                  <span>超时时间</span>
                  <nz-select style="width: 160px;margin-left:20px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="timeout">
                      <nz-option nzLabel="10分钟" nzValue="10"></nz-option>
                      <nz-option nzLabel="30分钟" nzValue="30"></nz-option>
                      <nz-option nzLabel="1小时" nzValue="60"></nz-option>
                      <nz-option nzLabel="2小时" nzValue="120"></nz-option>
                      <nz-option nzLabel="12小时" nzValue="720"></nz-option>
                      <nz-option nzLabel="24小时" nzValue="1440"></nz-option>
                  </nz-select>
                 <br>
                 <br>
                 <span>加入间隔</span>
                 <nz-select style="width:88px;margin-left:20px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="interval1">
                    <nz-option nzLabel="5" nzValue="5"></nz-option>
                    <nz-option nzLabel="10" nzValue="10"></nz-option>
                    <nz-option nzLabel="15" nzValue="15"></nz-option>
                    <nz-option nzLabel="20" nzValue="20"></nz-option>
                    <nz-option nzLabel="25" nzValue="25"></nz-option>
                    <nz-option nzLabel="30" nzValue="30"></nz-option>
                    <nz-option nzLabel="35" nzValue="35"></nz-option>
                    <nz-option nzLabel="40" nzValue="40"></nz-option>
                    <nz-option nzLabel="45" nzValue="45"></nz-option>
                    <nz-option nzLabel="50" nzValue="50"></nz-option>
                    <nz-option nzLabel="55" nzValue="55"></nz-option>
                    <nz-option nzLabel="60" nzValue="60"></nz-option>
                 </nz-select>
                  <b>～</b>
                  <nz-select style="width:88px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="interval2">
                      <nz-option nzLabel="5" nzValue="5"></nz-option>
                      <nz-option nzLabel="10" nzValue="10"></nz-option>
                      <nz-option nzLabel="15" nzValue="15"></nz-option>
                      <nz-option nzLabel="20" nzValue="20"></nz-option>
                      <nz-option nzLabel="25" nzValue="25"></nz-option>
                      <nz-option nzLabel="30" nzValue="30"></nz-option>
                      <nz-option nzLabel="35" nzValue="35"></nz-option>
                      <nz-option nzLabel="40" nzValue="40"></nz-option>
                      <nz-option nzLabel="45" nzValue="45"></nz-option>
                      <nz-option nzLabel="50" nzValue="50"></nz-option>
                      <nz-option nzLabel="55" nzValue="55"></nz-option>
                      <nz-option nzLabel="60" nzValue="60"></nz-option>
                  </nz-select>&nbsp;&nbsp;&nbsp;&nbsp;秒
                 
              </div>
          </li>
         
      </ul>
       <div class="buttongroup">
                 <button class="onebut" *ngIf="surebtn" (click)="open()">立即执行</button>
                 <button class="twobut" *ngIf="!surebtn">确认添加</button>
       </div>
  </div>
  <!--踢群弹框-->
   <div class="pullgroup_social" *ngIf="isout">
        	<div class="pullgroup_social_head">
        		<span>选择</span>
        		<span class="spanclose" (click)="closeisout()">x</span>
        	</div>
        	<div class="pullgroup_social_center">
        		<div class="tankuang_headdiv">
        			<ul class="tankuang_ul">
        				<li>微信号</li>
        				<li><b>群昵称</b></li>
        				<li>{{onechrommlist.chatroomName}}</li>
        				<li><b>来源设备</b></li>
        				<li>{{device}}</li>
        				<li><b>群主</b></li>
        				<li>{{onechrommlist.chatroomOwner}}</li>
        				<li><b>标签</b></li>
        				<li>{{onechrommlist.tags}}</li>
        				
        				
        			</ul>
        		</div>
        		<div class="tankuang_cendiv">
        			<div class="tankuang_cendiv_top">
        				  <nz-select style="width:168px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="chatgroupname" (ngModelChange)="bychatnamechange(chatgroupname)">
                       <nz-option *ngFor="let item of chatNameData;let i = index" nzLabel="{{item.chatroomName}}" nzValue="{{item.id}}">
	                     	
	                     </nz-option>
                    
                 </nz-select>
        			</div>
        			<div id="scroll-one">
        				     <table border="1" cellpadding="0" cellspacing="0" id="tablequn" style="table-layout:fixed">
	                     	 <tr>       
	                     	 	   <th>
	                     	 	   	 <label nz-checkbox  [(ngModel)]="qunzutrue" (ngModelChange)="allgroup(qunzutrue)"> 
	     				 	                
	     				                 </label>
	                     	 	   </th>
                            <th>头像</th>
                            <th>昵称</th>
                            <th>性别</th>
                            <th>地域</th>
                            <th>常聊词</th>
                            <th>
                            	<select  style="height: 30px;width:95px" (click)="changemseeage($event)">
                            		<option value="0">昨日消息数</option>
                            		<option value="1">近7日消息数</option>
                            		<option value="2">近30日消息数</option>
                            	</select>
                            </th>
	                         </tr>
	                         <tr *ngFor="let item of tiqunData;let i = index">
                             <td>
                             	 <label nz-checkbox  [(ngModel)]="item.checked" (ngModelChange)="shougroup(item,i)"> 
	     				 	                
	     				                 </label>
                             </td>
     	                        <td class="page5-img-small">
                                    <img src="" alt="">
     	                        </td>
                              <td>{{item.memberName}}</td>
                              <td>{{item.sex==0?'未知':item.sex==1?'男':item.sex==2?'女':''}}</td>
                              <td>{{item.province}}{{item.city}}</td>
                              <td style="word-break: break-all;">
                                	{{item.keyWord}}
                              </td>
                              <td>{{item.messageCount}}</td>
	                         </tr>
	                     </table>
        			</div>
        			
        		</div>
        	</div>
        	<div class="pullgroup_social_foot">
        		<span style="float: right;">
        			<button class="quxiao" (click)="closeisout()">取消</button>
        		    <button class="sure" (click)="tiqunsure()">确定</button>
        		</span>
        	</div>
     </div>
  
     <!--选择社交号-->
     
      <div class="accurateadd_social" *ngIf="groupshe">
        	<div class="accurateadd_social_head">
        		<span>选择社交号</span>
        		<span class="spanclose" (click)="nogroupshe()">x</span>
        	</div>
        	<div class="accurateadd_social_center">
        		<div class="tankuang_headdiv">
        			<ul class="tankuang_ul">
        				<li>未选择14</li>
        				  
        				<li>
        					<input type="text" placeholder="标签/微信号/设备号/资产号" [(ngModel)]="sjinputmodel">
        				</li>
        				<li>
        					<button (click)="changesj()">搜索</button>
        				</li>
        			</ul>
        		</div>
        		<div class="tankuang_cendiv">
        			
        		    <div class="wechat_leftdiv">
        				 <nz-table #nzTable 
        				 	  [nzData]="shejarr"
						      [nzFrontPagination]="false"
						      [nzTotal]="total"
						      [(nzPageIndex)]="pageIndex"
						      [(nzPageSize)]="pageSize"
						      (nzPageIndexChange)="searchData($event)"
						      (nzPageSizeChange)="searchData(true)">
						  <thead>
						    <tr>
						      <th></th>
						      <th>id</th>
						      <th>手机号/微信号</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr *ngFor="let item of shejarr;let i = index">
						      <td>
						      	 <label nz-checkbox [nzValue]="item.id" [(ngModel)]="item.checked" (ngModelChange)="addright(item,item.checked)" class="lable"> 
	     				 	        {{item.tagName}}
	     				         </label>
	     				          
						      </td>
						      <td [attr.colspan]="2">
						      	 <div class="idphonediv">
				                 	 <span style="position: relative;right: 11px;">{{item.id}}</span>
				                 	 <span></span>
				                     <span style="position: relative;right: 20px;">{{item.socialNumber}}</span>
                                 </div>
				                 <div class="taglist">
				                 	<span *ngFor="let tagindex of item.tagss">
				                      {{tagindex.tags}}
				                    </span>
				                 </div> 	
						      </td>
						    </tr>
						  </tbody>
						</nz-table>
        			</div>
        			
        			<div class="wechat_botdiv" id="scrolldiv">
        				 <table  id="righttable">
						  <thead>
						    <tr>
						      <th>id</th>
						      <th>手机号/微信号</th>
						      <th>操作</th>
						    </tr>
						  </thead>
						  <tbody>
						      <div>
						      	  <tr *ngFor="let item of rightData;let i = index">
							    	<td colspan="3">
							    			<div class="idphonediv" style="margin-top: 6px;">
							                 	 <span style="position: relative;right:-13px;">{{item.id}}</span>
							                 	 <span style="position: relative;right:-22px;">{{item.socialNumber}}</span>
							                     <span style="position: relative;right:-18px;" (click)="delectwechta(item,i)">删除</span>
	                                       </div>	
						                 <div class="taglist" style="position: relative;left: 26px;">
						                 	<span *ngFor="let tagindex of item.tagss">
					                             {{tagindex.tags}}
					                         </span>
						                 </div> 	
							    	</td>
							    </tr>
							    
							    
						      </div>
						  </tbody>
						</table>
        			</div>
        		</div>
        	</div>
        	<div class="accurateadd_social_foot">
        		<span style="float: right;">
        			<button class="quxiao" (click)="nogroupshe()">取消</button>
        		    <button class="sure" (click)="surewechat()">确定</button>
        		</span>
        		
        	</div>
     </div>
     
       <!--选择退群-->
  <div class="sendlink_social" *ngIf="latuigroup">
        	<div class="sendlink_social_head">
        		<span>退群</span>
        		<span class="spanclose" (click)="clselatuigroup()">x</span>
        	</div>
        	<div class="sendlink_social_center">
        		<div class="tankuang_headdiv">
        			<ul class="tankuang_ul">
        				
        				<li style="margin-left:230px;">
        					<input type="text" placeholder="主题/描述/URL" [(ngModel)]="tuimodel">
        				</li>
        				<li>
        					<button (click)="bymodelchangetui()">搜索</button>
        				</li>
        			</ul>
        		</div>
        		<div class="tankuang_cendiv">
        		        <div class="onetable">
					     			<nz-table  #nzTable 
					     		  (nzCurrentPageDataChange)="currentPageDataChangetui($event)"
        				 	  [nzData]="tuiqunData"
							      [nzFrontPagination]="false"
							      [nzTotal]="totaltui"
							      [(nzPageIndex)]="pageIndextui"
							      [(nzPageSize)]="pageSizetui"
							      (nzPageIndexChange)="searchDatatui($event)"
							      (nzPageSizeChange)="searchDatatui(true)">
									      <thead>
									        <tr>
									          <th nzShowCheckbox [(nzChecked)]="allCheckedtui" [nzIndeterminate]="indeterminatetui" (nzCheckedChange)="checkAlltui($event)" (click)="alladdtui(allCheckedtui)"></th>
									          <th>序号</th>
									          <th>群名称</th>
									          <th>所属微信</th>
									          <th>成员数</th>
									          <th>好友数</th>
									        </tr>
									      </thead>
									      <tbody>
									        <tr *ngFor="let data of tuiqunData;let i = index">
									          <td nzShowCheckbox [(nzChecked)]="data.checked"  (nzCheckedChange)="refreshStatustui($event)" (click)="oneaddtui(data,data.checked)"></td>
									          <td [attr.colspan]="6">
									          	
									          	<div class="idphonediv" style="position: relative;top: -1px;width: 215px;left: 100px;">
								                 	 <span style="position: relative;left:-107px;">
								                 	   {{i}}
								                 	 </span>
								                    <span style="position: relative;right:89px;">
								                    {{data.chatroomName}}
								                    </span>
								                    <span style="position: relative;right:64px;">
								                     {{data.socialaccount.nickName}}
								                    </span>
								                    <span style="position: relative;right:29px;">
								                     {{data.memberCount}}
								                    </span> 
								                    <span style="position: relative;right:11px;">
								                    {{data.friendNumber}}
								                    </span>
						                  </div>
						                 <div class="taglist" style="width:238px;left: 76px;">
								                 	<span *ngFor="let tagindex of data.tagss">
								                      {{tagindex.tags}}
								                  </span>   
										        </div> 	
									          </td>
									        </tr>
									      </tbody>
								    </nz-table>
		     		    </div>
			     		<div class="twotable">
			        		<table id="rightwctable">
										 <thead>
										    <tr>
										         <th>群名称</th>
									           <th>所属微信</th>
									           <th>成员数</th>
									           <th>好友数</th>
										        <th>操作</th>
										    </tr>
										 </thead>
										 <tbody>
										      <div>
										      	  <tr *ngFor="let item of tuiqunRightData;let i = index" style="position: relative;">
														    	<td colspan="5">
														    			<div class="idphonediv" style="margin-top:3.5px;">
													                 	 <span style="position: relative;right:-6px;">
													                 	 	  {{item.chatroomName}}
													                 	 </span>
													                 	 <span style="position: relative;right:-17px;">
													                 	 	 	{{item.socialaccount.nickName}}
													                 	 </span>
													                   <span style="position: relative;right:-23px;">
													                  	  {{item.memberCount}}
													                   </span> 
													                   <span style="position: relative;right:-23px;">
													                  	  {{item.friendNumber}}
													                   </span>
													                  <span style="position: relative;left:27px;" (click)="deletcttui(item,i)">删除</span>
								                     </div>	
										                 <div class="taglist" style="position:absolute;left:33px;width:352px;top:30px;height: 24px;">
										                      	<span *ngFor="let tagindex of item.tagss">
									                             {{tagindex.tags}}
									                          </span>
										                 </div> 	
														    	</td>
											       </tr>
										      </div>
										 </tbody>
						     </table>
			        </div> 
        		</div>
        		
        	</div>
        	<div class="sendlink_social_foot">
        		<span style="float: right;">
        			<button class="quxiao" (click)="clselatuigroup()">取消</button>
        		    <button class="sure" (click)="tuisure()">确定</button>
        		</span>
        		
        	</div>
     </div>
     
     
     
          <!--选择拉群-->
  <div class="sendlink_social" *ngIf="ishowlaqun">
        	<div class="sendlink_social_head">
        		<span>拉群</span>
        		<span class="spanclose" (click)="closelaqun()">x</span>
        	</div>
        	<div class="sendlink_social_center">
        		<div class="tankuang_headdiv">
        			<ul class="tankuang_ul">
        				<li>
	        				<nz-select style="width:160px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="wchatnameid" (ngModelChange)="bywchatnameidchange(wchatnameid)">
	                     <nz-option *ngFor="let item of wechatName;let i = index" nzLabel="{{item.nickName}}" nzValue="{{item.id}}">
	                     	
	                     </nz-option>
	                </nz-select>
        				</li>
        				<li style="margin-left:230px;">
        					<input type="text" placeholder="主题/描述/URL" [(ngModel)]="forwardmodel">
        				</li>
        				<li>
        					<button (click)="bymodelchange()">搜索</button>
        				</li>
        			</ul>
        		</div>
        		<div class="tankuang_cendiv">
        		      	   <div class="onetable">
					     			<nz-table  #nzTable 
					     		  (nzCurrentPageDataChange)="currentPageDataChangeforward($event)"
        				 	  [nzData]="sendcirData"
							      [nzFrontPagination]="false"
							      [nzTotal]="totalforward"
							      [(nzPageIndex)]="pageIndexforward"
							      [(nzPageSize)]="pageSizeforward"
							      (nzPageIndexChange)="searchDataforward($event)"
							      (nzPageSizeChange)="searchDataforward(true)">
									      <thead>
									        <tr>
									          <th nzShowCheckbox [(nzChecked)]="allCheckedforward" [nzIndeterminate]="indeterminateforward" (nzCheckedChange)="checkAllforward($event)" (click)="alladdforward(allCheckedforward)"></th>
									          <th>昵称</th>
									          <th>id</th>
									          <th>微信号</th>
									          <th>分组</th>
									        </tr>
									      </thead>
									      <tbody>
									        <tr *ngFor="let data of sendcirData">
									          <td nzShowCheckbox [(nzChecked)]="data.checked"  (nzCheckedChange)="refreshStatusforward($event)" (click)="oneaddforward(data,data.checked)"></td>
									          <td [attr.colspan]="5">
									          	
									          	<div class="idphonediv" style="position: relative;top: -1px;width: 215px;left: 100px;">
								                 	 <span style="position: relative;right:96px;" title="{{data.nickName}}">
								                 	   {{data.nickName}}
								                 	 </span>
								                   <span style="position: relative;right:83px;">
								                    {{data.id}}
								                   </span>
								                   <span style="position: relative;right:56px;" title="{{data.contactNumber}}">
								                    {{data.contactNumber}}
								                   </span>
								                   <span style="position: relative;right:11px;">
								                     {{getGroupName(data.groupId)}}
								                   </span>
						                  </div>
						                 <div class="taglist">
								                 	<span *ngFor="let tagindex of data.tagss">
								                      {{tagindex.tags}}
								                  </span>   
										        </div> 	
									          </td>
									        </tr>
									      </tbody>
								    </nz-table>
		     		    </div>
			     		<div class="twotable">
			        		<table id="rightwctable">
										 <thead>
										    <tr>
										      <th>昵称</th>
							            <th>id</th>
										      <th>微信号</th>
										      <th>操作</th>
										    </tr>
										 </thead>
										 <tbody>
										      <div>
										      	  <tr *ngFor="let item of sendcirRightData;let i = index" style="position: relative;">
														    	<td colspan="4">
														    			<div class="idphonediv" style="margin-top:3.5px;">
													                 	 <span style="position: relative;right:-6px;">
													                 	 	  {{item.nickName}}
													                 	 </span>
													                 	 <span style="position: relative;right:-17px;">
													                 	 	 	{{item.id}}
													                 	 </span>
													                  <span style="position: relative;right:-23px;">
													                  	  {{item.contactNumber}}
													                  </span>
													                  <span style="position: relative;left:27px;" (click)="deletctforward(item,i)">删除</span>
								                     </div>	
										                 <div class="taglist" style="position:absolute;left:33px;width:352px;top:30px;height: 24px;">
										                      	<span *ngFor="let tagindex of item.tagss">
									                             {{tagindex.tags}}
									                          </span>
										                 </div> 	
														    	</td>
											       </tr>
										      </div>
										 </tbody>
						     </table>
			        </div> 	   
			     		
        		</div>
        		
        	</div>
        	<div class="sendlink_social_foot">
        		<span style="float: right;">
        			<button class="quxiao" (click)="closelaqun()">取消</button>
        		    <button class="sure" (click)="pullgroup()">确定</button>
        		</span>
        		
        	</div>
     </div>
  
</div>
<app-mask *ngIf="ismask"></app-mask>