<div class="personification" style="padding: 24px;">
        <div class="personification_headtext">
            <b>拟人</b>
        </div>
        <div class="personification_con">
            <ul class="personification_con_left">
               <a routerLink="/unreadmessage">
                    <li>
                        <div class="personification_con_left_div">
                            <img src="./assets/images/nirenone.png" class="one">
                        </div>
                        <div class="personification_con_right_div">
                            <b>查看未读消息</b>
                            <br>
                            <span>可以给客户同时发送文字图片</span>
                        </div>
                    </li>
              </a> 
              <a routerLink="/subscribenumber">
                <li>
                    <div class="personification_con_left_div">
                          <img src="./assets/images/nirentwo.png" class="two">
                    </div>
                    <div class="personification_con_right_div">
                        <b>查看订阅号</b>
                        <br>
                        <span>可以给客户的朋友去点赞评论</span>
                    </div>
                </li>
             </a>
             <a routerLink="/seewallet">
                <li>
                    <div class="personification_con_left_div">
                       <img src="./assets/images/nirenthree.png" class="three">
                    </div>
                    <div class="personification_con_right_div">
                        <b>查看钱包</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
            </a>
            <a routerLink="/tencentnews">
                <li>
                    <div class="personification_con_left_div">
                          <img src="./assets/images/nirenfour.png" class="four">
                    </div>
                    <div class="personification_con_right_div">
                        <b>查看腾讯新闻</b>
                        <br>
                         <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
            </a>
            <a routerLink="/fridentcircle">
                <li>
                    <div class="personification_con_left_div">
                        <img src="./assets/images/nirenfive.png" class="five">
                    </div>
                    <div class="personification_con_right_div">
                        <b>查看朋友圈</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
                <a routerLink="/seemaillist">
                <li>
                    <div class="personification_con_left_div">
                        <img src="./assets/images/tuoketwo.png" class="six">
                    </div>
                    <div class="personification_con_right_div">
                        <b>查看通讯录</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
            </ul> 
            <ul class="personification_con_right">
                    <a routerLink="/viewalbum">
                <li>
                    <div class="personification_con_left_div">
                         <img src="./assets/images/nirenqi.png" class="qi">
                    </div>
                    <div class="personification_con_right_div">
                        <b>查看相册</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
                <a routerLink="/browsegralink">
                <li>
                    <div class="personification_con_left_div">
                         <img src="./assets/images/nirenba.png" class="ba">
                    </div>
                    <div class="personification_con_right_div">
                        <b>浏览图文链接</b>
                        <br>
                        <span>可以给客户同时发送文字图片</span>
                    </div>
                </li>
                </a>
            </ul>
        </div>
    </div>
    